:root{
    --c1: #DD8E58;
    --c2: #708A81;
    --c3: #E5D1B8;
    --c4: #C2956E;
    --c5: #2B2129;
    --black: black;
    --white: white;
}

/* Account Page Navigation CSS */
#account-container{
    padding: 0px 0px 0px 0px;
}

.nav-item{
    border-radius: 20px 0px 0px 20px;
}

.active{
    border-radius: 20px 0px 0px 20px;
    background-color: var(--c4);
}

.nav-link{
    text-decoration:none;
}

.nav-link:hover{
    border-radius: 20px 0px 0px 20px;
    color: var(--black);
    background-color: var(--c4);
    text-decoration:none;
}

.nav-link:not(:hover){
    border-radius: 20px 0px 0px 20px;
}

#sidebar-content{
    padding: 50px 70px 0px 50px;
}

/* END of Account Page Navigation CSS */



/* Products Manager CSS */

.product-header{
    margin-bottom: 20px;
    margin-top: 60px;
    border-bottom-style: solid;
    border-bottom-color: var(--black);
}

.product{
    border-radius: 20px;
    height: 140px;
}

#product-img{

    height: 100px;
    width: 100px;
}

.product-name{
    height: 80px;
    font-size: 20pt;
    font-weight: bold;
}

.product-details{
    height: 20px;
}
/* Products Manager CSS */




/* Delete Modal CSS */
#delete-upper{
    width: 350px;
    height: 250px;

    border-radius: 20px 20px 0px 0px;
}
#delete-lower{

    width: 350px;
    height: 250px;
    border-radius: 0px 0px 20px 20px;
}

#continue-btn{
    border-radius: 20px;

    box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.71);
    -webkit-box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.71);
    -moz-box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.71);
}

.delete-msg{
    font-size: 14pt;
}

/* END of Delete Modal CSS */

