:root{
    --c1: #DD8E58;
    --c2: #708A81;
    --c3: #E5D1B8;
    --c4: #C2956E;
    --c5: #2B2129;
    --black: black;
    --white: white;
}

/* Account Page Navigation CSS */
#account-container{
    padding: 0px 0px 0px 0px;
}

.account-sidebar-item{
    border-radius: 20px 0px 0px 20px;
}

.active{
    border-radius: 20px 0px 0px 20px;
    background-color: var(--c4);
}

.account-sidebar-link{
    text-decoration:none;
}

.account-sidebar-link:hover{
    border-radius: 20px 0px 0px 20px;
    color: var(--black);
    background-color: var(--c4);
    text-decoration:none;
}

.account-sidebar-link:not(:hover){
    border-radius: 20px 0px 0px 20px;
}

#sidebar-content{
    overflow-y: auto;
    height: 721px;
}


#sidebar{
    position:sticky;
}
/* END of Account Page Navigation CSS */



/* Products Manager CSS */

.product-header{
    margin-bottom: 20px;
    margin-top: 60px;
    border-bottom-style: solid;
    border-bottom-color: var(--black);
}

.product{
    border-radius: 20px;
    height: 140px;
}

#product-img{

    height: 100px;
    width: 100px;
}

.product-name{
    height: 80px;
    font-size: 20pt;
    font-weight: bold;
}

.product-details{
    height: 20px;
}
/* Products Manager CSS */




/* Delete Modal CSS */
#delete-upper{
    width: 350px;
    height: 250px;

    border-radius: 20px 20px 0px 0px;
}
#delete-lower{

    width: 350px;
    height: 250px;
    border-radius: 0px 0px 20px 20px;
}

#continue-btn{
    border-radius: 20px;

    box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.71);
    -webkit-box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.71);
    -moz-box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.71);
}

.delete-msg{
    font-size: 14pt;
}

/* END of Delete Modal CSS */


/* Orders Tab CSS*/

.start-active{
    border-radius: 20px 0px 0px 20px;
    background-color: var(--c4);
}

.between-active{
    background-color: var(--c4);
}

.end-active{
    border-radius: 0px 20px 20px 0px;
    background-color: var(--c4); 
}

.start-active:hover, .between-active:hover, .end-active:hover{
    text-decoration:none;
    color:var(--black);
}


.order-link:hover{
    background-color: var(--c4);
    text-decoration:none;
    color: var(--black);
}

.order-link-start:hover{
    border-radius: 20px 0px 0px 20px;
    text-decoration:none;
    background-color: var(--c4);
    color: var(--black);
}

.order-link-end:hover{
    border-radius: 0px 20px 20px 0px;
    text-decoration:none;
    background-color: var(--c4);
    color: var(--black);
}

.order-link-start:not(:hover){
    border-radius: 20px 0px 0px 20px;
}

.order-link-end:not(:hover){
    border-radius: 0px 20px 20px 0px;
  
} 

.one-order{
    border-radius:20px;
}

.order-anchor:hover{
    text-decoration:none;
}

#orders-collection{
    overflow-y:scroll;
    height: 649px;
}

#order-focused{
    border-radius: 15px;
}

.back-order-anchor:hover{
    text-decoration: none;
}

#rate-order{
    border-radius: 10px;
}

#rate-header{
    font-size: 43pt;
}

#review-div{
    border-radius:10px;
}

#submit-review:hover{
    text-decoration: none;
    color: var(--white);
}
/* END of Order Tab CSS*/



/* Messaging System CSS */

#write-message-content{
    width: 900px;
}

#write-message-text-area{
    width: 500px;
    height:310px;

    border-radius: 10px;
    resize: none;
    border:none;
    overflow:auto;
}

#send-message:hover{
    color: var(--white);
}

#file-upload-row{
    height:130px;
    width:500px;
    border-top: 1px solid #D3D3D3;
    overflow-x:auto;
}
#file-upload-row::-webkit-scrollbar{
    width: 4px;
    height: 4px;
}
#file-upload-row::-webkit-scrollbar-thumb{
    background: #000000;
    border-radius: 0px;
}
#file-upload-row::-webkit-scrollbar-thumb:hover{
    background: #000000;
}
#file-upload-row::-webkit-scrollbar-track{
    background: #C2956E;
    border-radius: 0px;
    box-shadow: inset 0px 0px 0px 0px #F0F0F0;
}

.hidden{
    visibility:hidden;
    max-height: 0;
}

#message-uploaded-file{
    min-width:100px;
    min-height:100px;
    max-width:100px;
    max-height:100px;
    margin-left: 5px;
    margin-right:5px;

    position:absolute;
    display:flex;
    align-items:center;
    justify-content: center;
}

#delete-chat-uploaded-file{
    position:relative;
    top:-4px;
    right: -75px;
    height:35px;
    width:35px;
    display:flex;
    justify-content: center;
    align-items: center;
}

#message-thread-dp{
    width:60px;
    height: 60px;

    object-fit: contain;
    border-radius: 100%;
}

#message-thread-dp img{

    max-width:60px;
    max-height: 60px;
    
}

#message-body-value{
    font-size: 14pt;
}

#thread-display{
    height: 649px;
    overflow:auto;
}

#conversation-list{
    height: 649px;
    overflow: auto;
}

#conversation-card{
    border-radius:10px;
}

#conversation-anchor:hover{
    text-decoration:none;
}



/* END of Messaging System CSS */


