:root{
    --white: white;
    --black: black;
}

/* Landing Page CSS */

#banner{
    height: 500px;
    background-image: url("/img/sample/banner-img.png");
    background-size: auto;
    
}

#banner-text{
    width: 300px;
}

#tape{
    width:200px;
    height:200px;
    object-fit: fit;
}

/* Review Card CSS */

#review-card{
    width: 240px;
    height: 310px;
    border-radius: 20px;
    font-size: 11pt;
}

#review-text{
    height: 180px;
    overflow:hidden;
    overflow-y: scroll;
}

#review-text::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
#review-text::-webkit-scrollbar-thumb{
    background: #DD8E58;
    border: 10px solid #2B2129;
    border-radius: 30px;
}
#review-text::-webkit-scrollbar-track{
    background: #DD8E58;
    border-radius: 0px;
    box-shadow: inset 0px 0px 0px 0px #F0F0F0;
}

#review-user-info{
    overflow:hidden;
}
/* END of Review Card CSS */






/* Home CSS */






/* Polaroid Card CSS */

.outer{
    background-color: var(--white);
    height: 10.63625cm;
    width: 8.73125cm;
    border-radius: 10px;

    box-shadow: 3px 4px 9px -2px rgba(0,0,0,0.93);
    -webkit-box-shadow: 3px 4px 9px -2px rgba(0,0,0,0.93);
    -moz-box-shadow: 3px 4px 9px -2px rgba(0,0,0,0.93);

    margin-top: 20px;
    margin-left: 20px;
}

#item-img-carousel, .inner{
    height: 7.9375cm;
    width: 7.77875cm;
    background-color: var(--black);
}

.addl{
    margin-right: 25px;
    margin-left: 25px;
}

#item-info{
    height: 85px;
}

#item-name{
    font-weight: bold;
}

.thumbnail{
    height: 400px !important;
}


hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }