:root{
    --white: white;
    --black: black;
}

/* Landing Page CSS */

#banner{
    height: 500px;
    background-image: url("/img/sample/banner-img.png");
    background-size: auto;
    
}

#banner-text{
    width: 300px;
}

#tape{
    width:200px;
    height:200px;
    background-color: var(--black);
    overflow: hidden;
}

.preview{
    width: 200px !important;
    height: 200px !important;
}

/* END of Landing Page CSS */

/* Review Card CSS */

#review-card{
    width: 240px;
    height: 310px;
    border-radius: 20px;
    font-size: 11pt;
}

#review-text{
    height: 180px;
    overflow:hidden;
    overflow-y: scroll;
}

#review-text::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
#review-text::-webkit-scrollbar-thumb{
    background: #DD8E58;
    border: 10px solid #2B2129;
    border-radius: 30px;
}
#review-text::-webkit-scrollbar-track{
    background: #DD8E58;
    border-radius: 0px;
    box-shadow: inset 0px 0px 0px 0px #F0F0F0;
}

#review-user-info{
    overflow:hidden;
}
/* END of Review Card CSS */






/* Home CSS */

/* END of Home CSS */



/* HTML tag CSS */

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

/* END of HTML tag CSS */
#login-btn:hover{
    text-decoration:none;
    color: var(--white);
}