:root{
    --img-bg: #C2956E;
}

#new-product-form{
    width: 1280px;
    border-radius: 20px;
    
}

#upload-new-product-form{
    width: 800px;
}


.img-frame{
    background-color: var(--img-bg);
    border-radius: 20px;
    width: 80px;
    height: 80px;
}

#product-name,#product-desc, #product-price, #product-quantity{
    margin-bottom: 20px;
    margin-top: 20px;
    resize:none;
    
    border: none;
    border-radius: 5px;
}

#product-price,#product-quantity{
    width: 170px;
}

.form-header{
    font-size: 40pt;
}

.remove-img{
    height: 80px;
}

.remove-img-grp{
    padding: 0px;
}

.remove-img1,.remove-img2,.remove-img3,.remove-img4,.remove-img5{
    width:1px;
}