:root{
    --white: white;
    --tooltip:#A9A9A9;
}

.form-label{
    color: var(--white);
}
.signup-tooltip{
    color: var(--tooltip);
}

#signup-form{
    width: 1000px;
}

#user-info, #account-info{
    border-radius: 20px;
}

.form-header{
    font-size: 40pt;
}

button{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

label{
    margin-top: 20px;
}


/* Success Modal CSS */
 
#success-upper{
    width: 350px;
    height: 250px;

    border-radius: 20px 20px 0px 0px;
}
#success-lower{

    width: 350px;
    height: 250px;
    border-radius: 0px 0px 20px 20px;
}

#continue-btn{
    border-radius: 20px 0px 20px 0px;

    box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.71);
    -webkit-box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.71);
    -moz-box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.71);
}

#continue-btn:hover{
    text-decoration:none;
    color: var(--white);
}

#success-msg{
    font-size: 12pt;
}

/* END of Success Modal CSS */
#login-btn:hover, #signup-submit:hover, #cancel-no:hover{
    text-decoration:none;
    color: var(--white);
}