:root{
    --white: white;
}

#signup-form{
    border-radius: 20px;
    width: 700px;
}

input{
    border: none;
    border-radius: 15px;
}

.form-label{
    color: var(--white);
}

button{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}