
#product-focused, #product-reviews{
    width: 1200px;
    border-radius: 15px;
}

#product-images{
    border-radius: 15px 0px 0px 15px;
}

#product-details{
    border-radius: 0px 15px 15px 0px;
}

#focused-img{
    width: 300px; 
    height: 300px;
}


.other-img{
    padding: 12px 12px 12px 12px;
    border-radius: 5px;
}

.price-details{
    border-radius: 15px;
}

#price-desc-container{
    height: 170px;
}

#add-to-order{
    border-radius: 100px;
}