
#product-details{
    width: 1200px;
    border-radius: 15px;
}

#product-images{
    border-radius: 15px 0px 0px 15px;
}

#focused-img{
    width: 300px; 
    height: 300px;
}


.other-img{
    padding: 12px 12px 12px 12px;
    border-radius: 5px;
}

.price-container{
    border-radius: 15px;
}