<div class="container bgc3 one-order p-3 d-flex flex-row mt-3" >

    <div class="col-md-11">

        <div class = "container">
            <h4>Matamis na Patis</h4>
        </div>

        <div class="container d-flex flex-row">
            <span class="me-3">Order ID: <span>1gG3tzP</span></span>
            <span class="mx-3">Status: <span>Pending</span></span>
            <span class="mx-3">Delivery Date: <span>October 29, 2021</span></span>
        </div>

    </div>

    <div class="col-md-1 d-flex justify-content-end pe-2">
        <i class="fas fa-ellipsis-v"></i>
    </div>
    
</div>