<div class="container p-2 d-flex justify-content-start flex-row hidden" id="file-upload-row">
    <div class="bgc2 hidden" id="message-uploaded-file">
        file here
    </div>
    <button type="button" class="btn" id="delete-chat-uploaded-file"> <i class="fas fa-times-circle fc5"></i></button>
</div>