{{!-- I think route could be /account/admin/messages/usernamehere --}}
{{!-- Then for read and unread messages tanggalin ang ung class "bold" in line 18 --}}
<a href="#" id="conversation-anchor">

    <div class="container d-flex flex-row justify-content-center align-items-center p-3">

    <div class="d-flex flex-row bgc3 p-3 col-md-11" id="conversation-card">
        <div class="col-md-1 d-flex justify-content-center align-items-center ">
            <div class="bgc5" id="message-thread-dp">
                
            </div>
        </div>
        <div class="col-md-10 p-2 ps-3">

            <div class="">

                <h5 class="bold ">Username here</h5>
                <span class="d-inline-block text-truncate text-muted bold" style="max-width: 780px;">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi deleniti natus culpa nihil, nulla rem nostrum cumque sapiente mollitia quam itaque veritatis reiciendis ut ad sint saepe dicta quaerat quis.
                </span>
            </div>

        </div>
        <div class="col-md-1 d-flex justify-content-end">
            <span>
                July 22

                {{!-- Values here can range from 1 min ==> month, day (i.e. Aug 31) ==> DD/MM/YYYY  --}}
                
            </span>



        </div>
    </div>
    
    </div>
</a>
