<div class="d-flex justify-content-center flex-column" id="one-message">
    <div class="container-f d-flex flex-row" id="message-header">
        <div class="col-md-1 pt-3 pe-2  d-flex justify-content-end">

            <div class="bgc1" id="message-thread-dp">
                .
            </div>

        </div>
        <div class="col-md-11 py-3">
            <div class="">
                <h4 class="bold">Krafts by Kat Admin</h4>
            </div>

            <div class="">
                <h6>August 31, 2021 at 15:21</h6>
            </div>
            
        </div>
    </div>

    <div class="ps-4 d-flex flex-wrap" id="message-body">
        <p id="message-body-value">
            Hello and welcome to Krafts by Kat!<br> <br>

            This is where you will be able to contact us with regards to anything that concerns us. Please feel free to send a message whenever you encounter inconvenience!
        </p>
    </div>

    <div class="col-md-11 dropdown-divider align-self-center"></div>
</div>
