<div class="container d-flex flex-row flex-wrap justify-content-center">
    {{!-- TEMP LANG, para makita kung ano dapat mukha --}}
    {{>polaroid-card}}
    {{>polaroid-card}}
    {{>polaroid-card}}
    {{>polaroid-card}}
    {{>polaroid-card}}
    {{>polaroid-card}}
    {{!-- HBS RENDERING HERE --}}
</div>