<div class="container d-flex flex-row flex-wrap justify-content-center content">
    {{!-- TEMP LANG, para makita kung ano dapat mukha --}}
    {{>polaroid-anchor}}
    {{>polaroid-anchor}}
    {{>polaroid-anchor}}
    {{>polaroid-anchor}}
    {{>polaroid-anchor}}
    {{>polaroid-anchor}}
    {{!-- HBS RENDERING HERE --}}
</div>