<div class = "container-fluid d-flex justify-content-center p-4 content" id = "banner">

        <div class = "container f4 p-5" id = "banner-content">

            <div id = "banner-text">
                <h1 id = "tagline">Krafted with Care</h1>
                <h3 id = "tagline-inner">Custom giveaways headed your way...</h3>
            </div>
        </div>

    </div>



    <div class = "container d-flex flex-row justify-content-center mt-5" id = "tape-feed">  
        {{#each pictures}}
            <div id = "tape" class = "carousel slide carousel-fade mx-5" data-bs-ride = "carousel" data-bs-interval = "1000">
                <div class = "carousel-inner">
                    {{#each this}}
                        <div class="carousel-item">
                            <img src = "{{this}}" class = "d-block w-100 preview" alt = "item 2">
                        </div>
                    {{/each}}
                </div>
            </div>
        {{/each}}
    </div>

    <div class="container-fluid d-flex flex-row justify-content-center" id = "landing-item-reviews">
        {{#each testimonialsComments}}
            {{>review comment = this profilePicture = (lookup ../testimonialsProfilePictures @index)
               username = (lookup ../testimonialsUsernames @index) rating = (lookup ../testimonialsRatings @index)}}
        {{/each}}
        
    </div>

<div class="container-fluid"></div>

<script src = "/js/landing-polaroid.js"></script>