<div class = "container-fluid d-flex justify-content-center p-4" id = "banner">

    <div class = "container f4 p-5" id = "banner-content">

        <div id = "banner-text">
            <h1 id = "tagline">Krafted with Care</h1>
            <h3 id = "tagline-inner">Custom giveaways headed your way...</h3>
        </div>
    </div>

</div>

<div class = "container d-flex flex-row justify-content-center m-4" id = "tape-feed">  
    {{>tape-feed}}
</div>

<div class="container-fluid d-flex flex-row justify-content-center" id = "landing-item-reviews">
    {{>testimonials}}
</div>

<div class="container-fluid"></div>
