<div class = "modal fade" id = "login" tabindex = "-1" aria-hidden = "true">

  <div class = "modal-dialog">
      <div class="modal-content bgc3">

          <div class = "modal-body px-5 py-5 f1">

              <div class="container d-flex justify-content-center mb-3">
                <img class = "logo mb-4" src = "/img/kbk-logo.png" alt = "Krafts by Kat Logo">
              </div>

              <form class = "d-flex flex-column justify-content-center mb-5" method = "POST"> 
                
                  <div class = "mb-3">
                    <input type = "input" class = "form-control" id = "username" name = "username">
                    <div class = "form-text">username or email</div>
                  </div>

                  <div class = "mb-3">
                    <input type = "password" class = "form-control" id = "password" name = "password">
                    <div class = "form-text">password</div>
                  </div>
                
                  <button type = "submit" class = "btn bgc5 align-self-center">LOGIN</button>
          
              </form>

              <span>Need an account? <a data-bs-toggle = "modal" data-bs-target = "#sign-up" data-bs-dismiss = "modal">Sign up here</a><span>

          </div>

      </div>

  </div>

</div>