<script src = "https://code.jquery.com/jquery-3.6.0.js" integrity = "sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin = "anonymous"></script>

<div class = "modal fade" id = "login" tabindex = "-1" aria-hidden = "true">

  <div class = "modal-dialog d-flex justify-content-center">
    
      <div class="modal-content bgc4">

          <div class = "modal-body px-5 py-5 f1">

              <div class="container d-flex justify-content-center mb-5">

                <img class = "logo mb-4" src = "{{logo}}" alt = "Krafts by Kat Logo">

              </div>

              <form id = "login-form" class = "d-flex flex-column justify-content-center mb-4" method = "POST"> 
                
                  <div class = "mb-3">

                      <input type = "text" class = "form-control" id = "username" name = "username" required>

                      <div class = "form-text cblack">username or email</div>

                  </div>

                  <div class = "mb-3">

                    <input type = "password" class = "form-control" id = "password" name = "password" required>

                    <div class = "form-text cblack">password</div>

                  </div>

                  <div class = "mb-2 form-text bold" id = "error-text">Invalid credentials</div>

                  
                  <button type = "submit" class = "cwhite btn bgc5 align-self-center mt-2" id="login-btn">LOGIN</button>
                  
          
              </form>

              <div class="d-flex justify-content-center form-text">
                <span class="me-1 ">Need an account?</span>
                <span>
                    <a href = "/signup" class = "bold me-2"> Sign up here</a>
                </span>
              </div>

          </div>

      </div>

  </div>

</div>

<script src = "/js/log-in.js"></script>