<nav class = "navbar bgc3">

    <div class = "container-fluid nav-content d-flex flex-row">
        <img class = "logo mb-4" src = "/img/kbk-logo.png" alt = "Krafts by Kat Logo">

        <a class = "f1 mb-4" id = "krafts-pool-anchor">KRAFTS POOL</a>

        <h1 class = "f3">KRAFTS BY KAT</h1>

        <a class = "f1 mb-4" id = "account-anchor">SIGN IN</a>

        <a id="cart-icon-anchor"><img src = "/img/shopping-car-solid.svg" alt="shopping-cart-icon"></a>
    </div>
    
</nav>