<nav class = "navbar bgc3">

        <div class="container-fluid">
            
            <div class="col-md-1"><img class = "logo mb-4" src = "/img/kbk-logo.png" alt = "Krafts by Kat Logo"></div>
            <div class="col-md-2 nav-anchor pb-4">
                
                <a class = "f1 ms-5" id = "krafts-pool-anchor">KRAFTS POOL</a>
            </div>

            <div class = "col-md-6 d-flex justify-content-center">
                <h1 class = "f3">KRAFTS BY KAT</h1>
            </div>

            <div class="col-md-3 nav-anchor ps-5 pb-4">
                <a class = "f1 mb-5 mx-5" id = "account-anchor">SIGN IN</a>
                <a href = "#" class="cblack">
                        <i class="fas fa-shopping-cart"></i>
                </a>
            </div>
            
        </div>
   
</nav>