<a href="#" id="one-notif">
    <div class="bgc3 f1 d-flex flex-row p-2" id="one-notif">

        <div class="col-md-3 d-flex justify-content-center align-items-center" id="notif-type-icon">
            <i class="fas fa-comment fa-2x"></i>
        </div>
        <div class="col-md-9 d-flex justify-content-start pt-1 align-items-center" id="notif-msg">
            <p class="notif-msg">==USER== has sent you a message. </p>
        </div>

    </div>
</a>


{{!-- Notif Messages --}}

{{!--
 
[Order Pending] <i class="fas fa-history fa-2x"></i>
Your order ==ORDER ID== has been suggested a delivery date. Click to View.

[Order Accepted]  <i class="fas fa-clipboard-check fa-2x"></i>
Your order ==ORDER ID== is now being prepared by the merchant.

[Order En Route] <i class="fas fa-truck fa-2x"></i>
Your order ==ORDER ID== is now En Route to your delivery Address.

[Order Delivered] <i class="fas fa-star fa-2x"></i>
You can only rate order ==ORDER ID== until ==Date==.

[Chat Message]
==USER== has sent you a message. 

--}}





