<div class="container d-flex flex-row">
    <div class="col-md-3 ">
        <h7>Product Name</h7>
    </div>
    <div class="col-md-1 ">
        <h7>(x<span>9,999</span>)</h7>
    </div>
    <div class="col-md-1 ">
        <h7>₱ <span>9,999,999</span></h7>
    </div>
</div>