<div class = "bgc1 m-5 p-3 f1" id = "review-card">

    <i class = "fas fa-quote-left"></i>

    <div class = "container" id = "review-text">
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat deleniti cumque aperiam maiores illum reiciendis fuga facere error corporis repellendus? Placeat impedit assumenda ipsum sapiente quisquam mollitia exercitationem aspernatur quo?
    </div>

    <hr>

    <div class = "container d-flex flex-row" id="review-user-info">

        <div class = "col-md-3 d-flex justify-content-center">
            <i class = "fas fa-user-circle fa-3x"></i>
            {{!-- <img src="#" alt="dp">  Temp Icon, img tag for when gagamitin talaga--}}
        </div>

        <div class = "col-md-9 ps-2 d-flex flex-column">

            <div>
               <span class="d-inline-block text-truncate fw-bold" style="max-width: 130px;">Username</span> 
            </div>

            <div class="d-flex align-items-center">
                <i class = "fas fa-star fa-xs"></i>
                <span class="ms-1" id = "review-user-rating" >4</span>
            </div>
        </div>
    </div>
</div>