<div class = "container">
    <!-- Modal -->
    <div class = "modal fade" id = "signup-success-modal" tabindex = "-1" aria-hidden = "true">

    <div class = "modal-dialog">

        <div class = "modal-content d-flex flex-column align-items-center">

            <div class = "col-md-6 bgc4 d-flex justify-content-center align-items-center" id = "success-upper">

                <i class = "fas fa-check-circle fa-7x"></i>

            </div>

            <div class = "col-md-6 bgc3 d-flex justify-content-center align-items-center flex-column f1 p-5" id = "success-lower">
               
                <span class = "text-center bold" id = "success-msg">Great! You got a new account and you can access more of our website!</span>  

               
                <a href="/" data-bs-dismiss="modal" class="btn bgc5 cwhite mt-5" id="continue-btn">Continue</a>

            </div>
        </div>

    </div>
    
    </div>

</div>

<script src = "/js/sign-up-success.js"></script>
