<!DOCTYPE html>
<html lang = "en">
<head>

    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1">


    <link href = "https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel = "stylesheet" integrity = "sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin = "anonymous">
    <link rel = "stylesheet" href = "/css/global/navbar.css">
    <link rel = "stylesheet" href = "/css/global/fonts.css">
    <link rel = "stylesheet" href = "/css/global/colors.css">
    <link rel = "stylesheet" href = "/css/global/misc.css">
    <link rel = "stylesheet" href = "/css/specific/{{style}}.css">

    <link rel = "shortcut icon" href = "{{logo}}">

    <title>Krafts by Kat</title>
    <script src="https://kit.fontawesome.com/f00afcebda.js" crossorigin="anonymous"></script>
</head>
<body class = "d-flex flex-column h-100 bgc2">

    {{{body}}}

    <footer class = "footer mt-auto p-4 bgc2 d-flex justify-content-center align-items-center">

            <span class = "cblack">Place sticky footer content here.</span>

    </footer>

    <script src = "/js/global.js"></script>
    <script src = "https://code.jquery.com/jquery-3.6.0.js" integrity = "sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin = "anonymous"></script>
    <script src = "https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity = "sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin = "anonymous"></script>
</body>

</html>