{{>navbar}}

<div class="container-fluid content d-flex flex-row f1" id="account-container" >
    {{>account-sidebar isAdmin = adminFlag messagesTab = true}}

    <div class="col-md-9" id="sidebar-content">

        <div class="container-fluid bgc5 p-3 f1 d-flex flex-row justify-content-end">

            <div class="d-flex justify-content-end">
                
                <form class="d-flex ms-2">
                    <input class="form-control me-2" type="search" placeholder="Search..." aria-label="Search">
                    <button class="btn bgc2" type="submit"><i class="fas fa-search"></i></button>
                </form> 

            </div>
            
        </div>

        <div id="conversation-list">
            {{>conversation}}
        </div>
    </div>


</div>