{{>navbar}}

<div class="container-fluid content d-flex flex-row f1" id="account-container" >
    {{>account-sidebar isAdmin = isAdmin ordersTab = true }}

    <div class="col-md-9">
        {{>admin-orders-nav allOrdersTab = true}}

        <div class="container" id="orders-collection">

            {{>admin-orders-item}}
            {{>admin-orders-item}}
            {{>admin-orders-item}}
            {{>admin-orders-item}}
            {{>admin-orders-item}}
            {{>admin-orders-item}}
            {{>admin-orders-item}}
            {{>admin-orders-item}}
            {{>admin-orders-item}}
            {{>admin-orders-item}}
            {{>admin-orders-item}}
            {{>admin-orders-item}}
            {{>admin-orders-item}}
            {{>admin-orders-item}}
            {{>admin-orders-item}}
            {{>admin-orders-item}}

        </div>
        
    </div>
</div>