{{>navbar}}

<div class="container-fluid content d-flex flex-row f1" id="account-container" >
    {{>account-sidebar isAdmin = isAdmin ordersTab = true }}

    <div class="col-md-9">
        {{>admin-orders-nav pendingTab = true}}

    </div>
</div>