{{>navbar}}

<div class="container-fluid content d-flex flex-row f1" id="account-container" >
    {{>account-sidebar isAdmin = isAdmin accountTab = false purchaseHistoryTab = false supportTab = false
                       ordersTab = false messagesTab = false productsManagerTab = true clientsManagerTab = false}}

    <div class="col-md-9" id="sidebar-content">
        
        <div id="active-products">
            <h2 class = "bold product-header mt-2" >Active</h2>
            {{>product names = activeNames quantities = activeQuantities descriptions = activeDescriptions
                       prices = activePrices comments = activeComments pictures = activePictures 
                       aveRatings = activeAveRatings numberSold = activeNumberSold ids = activeIds}}
        </div>

        <div id="hidden-products">
            <h2 class = "bold product-header">Hidden</h2>
            {{>product names = hiddenNames quantities = hiddenQuantities descriptions = hiddenDescriptions
                       prices = hiddenPrices comments = hiddenComments pictures = hiddenPictures 
                       aveRatings = hiddenAveRatings numberSold = hiddenNumberSold ids = hiddenIds }}
        </div>

        <div id="depleted-products">
            <h2 class = "bold product-header">Depleted</h2>
            {{>product names = depletedNames quantities = depletedQuantities descriptions = depletedDescriptions
                       prices = depletedPrices comments = depletedComments pictures = depletedPictures 
                       aveRatings = depletedAveRatings numberSold = depletedNumberSold ids = depletedIds}}
        </div>

    </div>
</div>