{{>navbar}}

<div class="container-fluid d-flex justify-content-center align-items-center flex-column p-5 h-100">

    <form class = "d-flex justify-content-center" id = "edit-product-form">

        <div class = "col-md-4 py-4 d-flex justify-content-center align-items-center flex-column bgc1 " id = "product-images">
            
            <div class = " bgc5 d-flex justify-content-center align-items-center mt-2 p-5" id = "focused-img">
                <i class = "far fa-images fa-7x fc3"></i>
            </div>

            <div class = "container d-flex mt-3 flex-row">

                <div class = "container mx-1 bgc5 other-img" id="img1">
                    <i class = "far fa-images fa-2x mx-1 fc3"></i>
                </div>
                <div class = "container mx-1 bgc5 other-img" id="img2">
                    <i class = "far fa-images fa-2x mx-1 fc3"></i>
                </div>
                <div class = "container mx-1 bgc5 other-img" id="img3">
                    <i class = "far fa-images fa-2x mx-1 fc3" ></i>
                </div>
                <div class = "container mx-1 bgc5 other-img" id="img4">
                    <i class = "far fa-images fa-2x mx-1 fc3"></i>
                </div>
                <div class = "container mx-1 bgc5 other-img" id="img5">
                    <i class = "far fa-images fa-2x mx-1 fc3"></i>
                </div>

            </div>  


        </div>

        <div class = "col-md-8 d-flex flex-column bgc3 p-5 f1" id="product-details">

            <div class = "container mb-2">
                <input class="bgc3 bold" type="text" id="product-name" placeholder="Praeterea iter est quasdam res quas ex communi.">
            </div>

            <div class = "container bold d-flex flex-row">

                <span class = "me-2">
                    <span class = "product-rating">4.5</span>
                    <i class = "fas fa-star ms-1"></i>
                </span>

                <span class = "mx-2">|</span>
                <span class = "mx-2"><span id="rating-count">412</span> Ratings</span>
                <span class = "mx-2">|</span>
                <span class = "mx-2"><span id="units-sold">30k</span> Sold</span>
                <span class = "mx-2">|</span>
                <span class = "mx-2">
                    <input class="bgc3" type = "number" id="units-available" placeholder="420" > <span class="ms-2">Units Available</span>
                </span>

            </div>

            <div class="container mt-4 bgc4 p-2 price-details d-flex flex-column">
                
                <input class="bgc4 bold" type="text" id = "product-price" placeholder="₱ 1,320">

                
            </div>

            <div class="container bgc4 mt-4 price-details p-3" id="price-desc-container">
                <h5 >Description</h5>
                <div class="dropdown-divider"></div>

                <div class="container">
                    <textarea class="bgc4" id="product-description" rows="4" cols="80">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem repudiandae nihil quos rem recusandae esse accusantium dolore velit debitis modi. Quidem necessitatibus, impedit maxime qui alias tempora. Incidunt, quasi sed.</textarea>
                    
                </div>
                    


            </div>



        </div>

    </form>

    <div class="container mt-5 d-flex justify-content-center" id="edit-user-prompt">
        <button class="btn bgc3 mx-2" type="button" id="submit-changes" disabled>Save Changes</button>
        <button class="btn bgc5 cwhite mx-2" type="button">Cancel</button>
    </div>

</div>