{{>navbar userFlag = userFlag adminFlag = adminFlag}}

<div class="container-fluid content" >
	<h1 class="f1 ms-5 mt-3">Add a new Product</h1>

<div class="container-fluid d-flex flex-row f1 mb-5">

	<div class="col-md-7 ps-4">
		
		<form method = "POST" class = "bgc5 p-5 d-flex flex-column justify-content-center align-self-center " id = "upload-new-product-form">
        
				<h3 class = "f1 cwhite bold mb-3">Product Images</h3>

				<div class="container d-flex flex-row">

					<div class="col-md-2 d-flex flex-column">

						<div class = "container img-frame d-flex justify-content-center align-items-center overflow-hidden my-2"> 

							<i class = "far fa-images fa-3x fc3" id = "img-1"></i>
							<img id = "pic-1">
							<input type = "file" id = "product-img-1" class = "hidden" onchange = "readURL(this, 1)">
					
						</div>

						<div class = "container img-frame d-flex justify-content-center align-items-center overflow-hidden my-2"> 

							<i class = "far fa-images fa-3x mx-3 fc3" id = "img-2"></i>
							<img id = "pic-2">
							<input type = "file" id = "product-img-2" class = "hidden" onchange = "readURL(this, 2)">
						
						</div>

						<div class = "container img-frame d-flex justify-content-center align-items-center overflow-hidden my-2"> 

							<i class = "far fa-images fa-3x mx-3 fc3" id = "img-3"></i>
							<img id = "pic-3">
							<input type = "file" id = "product-img-3" class = "hidden" onchange = "readURL(this, 3)">
							
						</div>

						<div class = "container img-frame d-flex justify-content-center align-items-center overflow-hidden my-2"> 

							<i class = "far fa-images fa-3x mx-3 fc3" id = "img-4"></i>
							<img id = "pic-4">
							<input type = "file" id = "product-img-4" class = "hidden" onchange = "readURL(this, 4)">
						
						</div>

						<div class = "container img-frame d-flex justify-content-center align-items-center overflow-hidden my-2"> 

							<i class = "far fa-images fa-3x mx-3 fc3" id = "img-5"></i> 
							<img id = "pic-5">
							<input type = "file" id = "product-img-5" class = "hidden" onchange = "readURL(this, 5)">
							
						</div>

					</div>

					<div class="col-md-10 d-flex justify-content-center flex-column align-items-center bgc3">
						{{> polaroid-card}}
					</div>
				</div>

				<button class = "btn bgc1 align-self-center mt-4" type = "button"> Click to preview</button>
				
		</form>

	</div>

	<div class="col-md-5 d-flex justify-content-center align-items-center flex-column">


		<form method = "POST" class = "bgc5 p-5 d-flex flex-column justify-content-center  " id = "new-product-form">
			<h3 class="f1 cwhite mb-3 bold">Product Information</h3>

			<div  class = "form-text cwhite">Product Name</div>
			<input type = "text" id = "product-name" name = "product-name">

			<div  class = "form-text cwhite">Product Description</div>
			<textarea id = "product-desc" name = "product-desc" rows = "7"></textarea>

			<div class = "d-flex justify-content-between"> 

				<input type = "number" step = ".01" min = "0" id = "product-price" placeholder = "Price per unit">

				
				<input type = "number" min = "0" id = "product-quantity" placeholder = "Quantity available">
			</div>
   	 	</form>

		<div class="d-flex flex-column align-self-center m-5 bgc5 p-5" id="confirm-add">

			<h3 class="cwhite">Add Product?</h3>

			<div class="d-flex justify-content-between mt-2">
				<button type = "submit" class = "btn bgc4 align-self-center me-3" id = "new-product-submit" disabled>Add</button>
				<button type = "reset" class = "btn bgc4 align-self-center ms-3">Cancel</button>
			</div>
			
		</div>
		
	
	</div>
	
</div>


</div>


<script src = "/js/new-product.js"></script>
