{{>navbar}}

<span class = "f1 text-start ms-5 mt-5 form-header">Make an Order</span>

<div class = "container-fluid d-flex justify-content-center align-items-center flex-column mb-5 ">


    <form class = "container bgc5 p-5" id = "order-form">


        <div class = "f1 d-flex p-5 justify-content-center cwhite flex-column m-5 bgc4" id = "order-header">
  
            <input class = "cblack" type = "text" id = "order-name" placeholder = "Order Name">
            <div id = "order-name-error" class = "form-text cblack fc3">Type why you're ordering, maybe an event perhaps.</div>

            
            <label class = "mt-4 cblack bold" for = "company-name">Company Name</label>
            <input class = "cblack" type = "text" id = "company-name">
            <div id = "company-name-error" class = "form text fc3"></div>

        </div>

        <div class = " f1 d-flex p-5 justify-content-center flex-column mt-5 mx-5 bgc4" id = "order-details">

            <div class = "container d-flex flex-row align-items-center justify-content-start p-1">

                <h2 class = "cblack bold">Order List</h2>

                <button type = "button" class = "btn bgc3 mx-4 d-flex justify-content-center align-items-center mb-2 py-2 pe-3 " id = "add-cart" data-bs-toggle="modal" data-bs-target="#pick-product">
                    <i class = "fas fa-cart-plus fa-lg my-2" data-bs-toggle = "tooltip" data-bs-placement = "right" title = "Add to Order List"></i>
                </button>
            
            </div>

            <div class = "dropdown-divider"></div>
            
            <div class = "accordion mt-2" id = "order-list">

                {{>order-specific}}

            </div>
         
        </div>

        <div class="f1 d-flex p-5 justify-content-center flex-column mt-5 mx-5 bgc4" id="delivery-details">
             <h2 class = "cblack bold">Delivery</h2>
                <div class = "dropdown-divider"></div>

                <div class="container ps-4 pt-4">
                    <h5>How will you get your order?</h5>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="deliverytype" id="pickup">
                            <label class="form-check-label" for="pickup">
                                Pick-up
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="deliverytype" id="delivery" checked>
                            <label class="form-check-label" for="delivery">
                                Delivery
                            </label>
                        </div>
                </div>

                <div class="container ps-4 mt-4">
                    <label for="orderID_prefDate"><h5>Preferred Delivery Date</h5></label>
                    <input type="date" class="ms-3" id="orderID_prefDate">
                    <div class="form-text">We will send you an estimate after we've reviewed your order</div>
                </div>

           
        </div>

        <div class = " f1 d-flex p-5 justify-content-center flex-column mt-5 mx-5 bgc4" id = "payment-details">

          

            <h2 class = "cblack bold">Payment</h2>
            <div class = "dropdown-divider"></div>

            <div class="mt-3 ms-4">
                <label for="#payment-type"><h5>Payment Type</h5></label>
                <select class="form-select w-25" aria-label="Payment Type Select" id="payment-type">

                    <option value="cash" selected>Cash on Delivery</option>
                    <option value="gcash">GCash</option> 
                    <option value="bank_transfer">Bank Transfer</option>
            
                </select>
            </div>

            <div class="mt-4 ms-4">
                <h5 class="f1">Order Overview</h5>
                {{>order-product-summary-item}}
                {{>order-product-summary-item}}
                {{>order-product-summary-item}}
                {{>order-product-summary-item}}
                {{>order-product-summary-item}}
                {{>order-product-summary-item}}

                <div class="dropdown-divider"></div>
                <div class="d-flex justify-content-between flex-row">
                    <h7>Total: </h7>
                    <h7>₱ <span>9,999,999</span></h7>
                
                </div>
            </div>
            
          
         
        </div>

        <div class="d-flex justify-content-center mt-5">
            <button type="button" class="btn bgc2 mx-3">Save Order</button>
            <button type="button" class="btn bgc3 mx-3" data-bs-toggle="modal" data-bs-target="#place-order-success-modal">Place Order</button>
            <button type="button" class="btn bgc4 mx-3" data-bs-toggle="modal" data-bs-target="#save-prompt">Cancel</button>
        </div>

    </form>
    
</div>

{{>pick-product}}

<div class = "modal fade" id = "save-prompt" tabindex = "-1" aria-hidden="true">
    <div class = "modal-dialog d-flex justify-content-center">
        <div class = "modal-content d-flex flex-column align-items-center">
            <div class = "col-md-6 bgc4 d-flex justify-content-center align-items-center" id = "save-upper">

                <i class="fas fa-exclamation-triangle fa-5x"></i>

            </div>

            <div class = "col-md-6 bgc3 d-flex justify-content-center align-items-center flex-column f1 p-5" id = "save-lower">
               
                <span class = "text-center delete-msg" id = "save-prompt">Careful! You might want to save your order. Are you sure want to go back?</span>  
                
                   
                <div class = "container d-flex justify-content-between mt-4">
                    <a class="btn cblack bgc4 btn-anchor" href="/">Yes</a>
                    <button type = "button" class = "btn bgc5 cwhite" data-bs-dismiss = "modal">No, Wait!</button>
                </div>

                    
            </div>
        </div>
    </div>
</div>

<div class = "modal fade" id = "place-order-success-modal" tabindex = "-1" aria-hidden="true">
    <div class = "modal-dialog d-flex justify-content-center">
        <div class = "modal-content d-flex flex-column align-items-center">
            <div class = "col-md-6 bgc4 d-flex justify-content-center align-items-center" id = "save-upper">

                <i class = "fas fa-check-circle fa-7x "></i>

            </div>

            <div class = "col-md-6 bgc3 d-flex justify-content-center align-items-center flex-column f1 p-5" id = "save-lower">
               
                <span class = "text-center delete-msg" id = "save-prompt">Order Placed! You will now be redirected for further instructions</span>  
                
                   
                <div class = "container d-flex justify-content-center mt-4">
                    <a class="btn cwhite bgc5 btn-anchor" href="/">Ok</a>
                </div>

                    
            </div>
        </div>
    </div>
</div>




                 