{{>navbar userFlag = userFlag adminFlag = adminFlag username = username}}

<div class="container-fluid content d-flex flex-row f1" id="account-container" >
    {{>account-sidebar isAdmin = adminFlag myOrdersTab = true }}

    <div class="col-md-9">
        {{>orders-nav-user isAdmin = adminFlag enRouteTab = true}}

        <div class="container" id="orders-collection">

            {{#each orderIds}}
                {{>orders-item isAdmin = ../adminFlag
                               orderId = this 
                               orderName = (lookup ../orderNames @index)
                               orderStatus = (lookup ../orderStatuses @index)
                               preferredDeliveryDate = (lookup ../preferredDeliveryDates @index)
                               orderPrice = (lookup ../orderPrices @index)
                               enRouteOrder = (lookup ../enRouteOrders @index)}}
            {{/each}}

        </div>

    </div>
</div>