{{>navbar}}

<div class="container-fluid d-flex flex-row">

    <div class="col-md-6 d-flex justify-content-center">

    </div>

    <div class="col-md-6 d-flex justify-content-center pt-5 mb-5">
        
        <form method = "POST" class = "bgc5 p-5 d-flex flex-column justify-content-center " id="signup-form">

            <div id = "user-details">

                <label for="firstname" class="form-label">First Name</label>

                <input type = "text" class = "form-control" id = "firstname" name = "firstName">

                <label for="middlename" class="form-label">Middle Name</label>

                <input type = "text" class = "form-control" id = "middlename" name = "middleName"
                aria-describedby = "middle-name-help">

                <div id = "middle-name-help" class = "form-text">This field is not required</div>

                <label for="surname" class="form-label">Surname</label>

                <input type = "text" class = "form-control" id = "surname" name = "surname">

                <label for="contact-number" class="form-label">Contact Number</label>

                <input type = "text" class = "form-control" id = "contact-number" name = "contactNumber">

                <div id="address-grp">
                    
                    <label for="region" class="form-label">Region</label>

                    <input type = "text" class = "form-control" id = "region" name = "region">

                    <label for="city" class="form-label">City/Municipality</label>

                    <input type = "text" class = "form-control" id = "city" name = "city">

                    <label for="barangay" class="form-label">Barangay</label>

                    <input type = "text" class = "form-control" id = "barangay" name = "barangay">

                    <label for="zip-code" class="form-label">ZIP code</label>

                    <input type = "text" class = "form-control" id = "zip-code" name = "zipCode">

                    <label for="address" class="form-label">Address</label>

                    <input type = "text" class = "form-control" id = "address" name = "address" placeholder = "Enter Room/Floor/Unit No. Bldg Name, House Lot/ Block, Street, Subdivision">
              
                </div>
                
            </div>

            <div id = "account-details">

                <div class = "mb-3">

                    <label for = "create-email" class = "form-label">Email address</label>

                    <input type = "email" class = "form-control" id = "create-email" name = "createEmail" aria-describedby = "email-help">

                    <div id = "email-help" class = "form-text">So we for sure can contact you</div>

                </div>

                <div class = "mb-3">

                    <label for = "create-username" class = "form-label">Username</label>

                    <input type = "text" class = "form-control" id = "create-username" name = "createUsername" aria-describedby = "username-help">

                    <div id = "username-help" class = "form-text">Make it snazzy, so you won't forget</div>

                </div>

                <div class="mb-3">

                    <label for = "create-password" class = "form-label">Password</label>

                    <input type = "password" class = "form-control" id = "create-password"  name = "createPassword" aria-describedby = "password-help">

                    <div id = "password-help" class = "form-text">You'll need at least 8 characters</div>

                </div>

                <div class = "mb-3">

                    <label for = "confirm-pass" class = "form-label">Confirm Password</label>

                    <input type = "password" class = "form-control" id = "confirm-pass" name = "confirmPass">

                </div>

            </div>

            <button type = "submit" class = "btn bgc4 align-self-center mt-4" id = "signup-submit">Submit</button>

        </form>

    </div>
</div>