{{>navbar}}

<script src = "https://code.jquery.com/jquery-3.6.0.js" integrity = "sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin = "anonymous"></script>

<script src = "/js/validator.min.js"></script>

<div class="container-fluid d-flex flex-row">

    <div class="container d-flex justify-content-center pt-5 mb-5">
        
        <form method = "POST" class = "bgc5 p-5 d-flex flex-column justify-content-center " id = "signup-form">

            <div id = "user-details">

                <label for = "firstname" class = "form-label">First Name</label>
                <input type = "text" class = "form-control" id = "firstname" name = "firstName" required>

                <label for="middlename" class="form-label">Middle Name</label>
                <input type = "text" class = "form-control" id = "middlename" name = "middleName"
                aria-describedby = "middle-name-help">

                <div id = "middle-name-help" class = "form-text">This field is not required</div>

                <label for = "surname" class = "form-label">Surname</label>
                <input type = "text" class = "form-control" id = "surname" name = "surname" required>


				<div id = "contact-number-error" class = "form-text">=== ERROR (Style this text, then delete) ===</div>
                <label for="contact-number" class="form-label">Contact Number</label>
                <input type = "number" class = "form-control" id = "contact-number" name = "contactNumber" required>

                <div id="address-grp">
                    
                    <label for="region" class="form-label">Region</label>
                    <select name = "region" class = "form-select" id = "region" required>
						<option disabled selected value></option>
					</select>
					
					<label for="province" class="form-label">Province</label>
                    <select name = "province" class = "form-select" id = "province" required>
						<option disabled selected value></option>
					</select>

                    <label for="city" class="form-label">City/Municipality</label>
                    <input type = "text" class = "form-control" id = "city" name = "city" required>

                    <label for="barangay" class="form-label">Barangay</label>
                    <input type = "text" class = "form-control" id = "barangay" name = "barangay" required>

					<div id = "zip-code-error" class = "form-text">=== ERROR (Style this text, then delete) ===</div>
                    <label for="zip-code" class="form-label">ZIP code</label>
                    <input type = "number" class = "form-control" id = "zip-code" name = "zipCode" required>

                    <label for="address" class="form-label">Address</label>
                    <input type = "text" class = "form-control" id = "address" name = "address" placeholder = "Enter Room/Floor/Unit No. Bldg Name, House Lot/ Block, Street, Subdivision" required>
              
                </div>
                
            </div>

            <div id = "account-details">

                <div class = "mb-3">
				
					<div id = "email-error" class = "form-text">=== ERROR (Style this text, then delete) ===</div>

                    <label for = "create-email" class = "form-label">Email address</label>
                    <input type = "email" class = "form-control" id = "create-email" name = "createEmail" aria-describedby = "email-help" required>

                    <div id = "email-help" class = "form-text">So we for sure can contact you</div>

                </div>

                <div class = "mb-3">
				
					<div id = "username-error" class = "form-text">=== ERROR (Style this text, then delete) ===</div>

                    <label for = "create-username" class = "form-label">Username</label>
                    <input type = "text" class = "form-control" id = "create-username" name = "createUsername" aria-describedby = "username-help" required>

                    <div id = "username-help" class = "form-text">Make it snazzy, so you won't forget</div>

                </div>

                <div class="mb-3">
					<div id = "password-error" class = "form-text">=== ERROR (Style this text, then delete) ===</div>
				
                    <label for = "create-password" class = "form-label">Password</label>
                    <input type = "password" class = "form-control" id = "create-password"  name = "createPassword" aria-describedby = "password-help" required>

                    <div id = "password-help" class = "form-text">You'll need at least 8 characters and at least 1 number</div>

                </div>

                <div class = "mb-3">
				
					<div id = "confirm-password-error" class = "form-text">=== ERROR (Style this text, then delete) ===</div>

                    <label for = "confirm-pass" class = "form-label">Confirm Password</label>
                    <input type = "password" class = "form-control" id = "confirm-pass" name = "confirmPass" required>

                </div>

            </div>

            <button type = "submit" class = "btn bgc4 align-self-center mt-4" id = "signup-submit" disabled>Submit</button>

        </form>

    </div>
</div>

<script src = "/js/sign-up.js"></script>
<script src = "/js/sign-up-validate.js"></script>