{{>navbar userFlag = userFlag adminFlag = adminFlag username = username}}

<div class="container-fluid content d-flex flex-row f1" id="account-container" >
    {{>account-sidebar isAdmin = adminFlag myOrdersTab = true}}

    <div class="col-md-9">
        {{>orders-nav-user allOrdersTab = true}}

        <div class="container" id="orders-collection">

            {{#each orderIds}}
                {{>orders-item isAdmin = ../adminFlag
                               orderId = this 
                               orderName = (lookup ../orderNames @index)
                               orderStatus = (lookup ../orderStatuses @index)
                               preferredDeliveryDate = (lookup ../preferredDeliveryDates @index)
                               orderPrice = (lookup ../orderPrices @index)
                               currentOrder = (lookup ../currentOrders @index)
                               unsubmittedOrder = (lookup ../unsubmittedOrders @index)
                               pendingOrder = (lookup ../pendingOrders @index)
                               acceptedOrder = (lookup ../acceptedOrders @index)
                               enRouteOrder = (lookup ../enRouteOrders @index)
                               deliveredOrder = (lookup ../deliveredOrders @index)}}
            {{/each}}

        </div>
        
    </div>
</div>

<script src = "/js/order-item.js"></script>