{{>navbar userFlag = userFlag adminFlag = adminFlag username = username}}

<div class="container-fluid content d-flex flex-row f1" id="account-container" >
    {{>account-sidebar isAdmin = isAdmin accountTab = true purchaseHistoryTab = false myOrdersTab = false
                       ordersTab = false messagesTab = false productsManagerTab = false clientsManagerTab = false}}

    <div class="col-md-9" id="sidebar-content">
        
    </div>
</div>