{{>navbar}}

<div class="container-fluid d-flex justify-content-center p-5  h-100">


    <div class = "d-flex justify-content-center bgc3" id = "product-details">

        <div class = "col-md-4 d-flex justify-content-center align-items-center flex-column bgc1" id = "product-images">
            
            <div class = " bgc5 d-flex justify-content-center align-items-center mt-2 p-5" id = "focused-img">
                <i class = "far fa-images fa-7x fc3"></i>
            </div>

            <div class = "container d-flex mt-3 flex-row">

                <div class = "container mx-1 bgc5 other-img" id="img1">
                    <i class = "far fa-images fa-2x mx-1 fc3"></i>
                </div>
                <div class = "container mx-1 bgc5 other-img" id="img2">
                    <i class = "far fa-images fa-2x mx-1 fc3"></i>
                </div>
                <div class = "container mx-1 bgc5 other-img" id="img3">
                    <i class = "far fa-images fa-2x mx-1 fc3" ></i>
                </div>
                <div class = "container mx-1 bgc5 other-img" id="img4">
                    <i class = "far fa-images fa-2x mx-1 fc3"></i>
                </div>
                <div class = "container mx-1 bgc5 other-img" id="img5">
                    <i class = "far fa-images fa-2x mx-1 fc3"></i>
                </div>

            </div>   
        </div>

        <div class = "col-md-8 d-flex flex-column p-5 f1">
            <div class = "container">
                <h2 class = "bold"> Product name</h2>
            </div>

            <div class = "container bold d-flex flex-row">

                <span class = "me-2">
                    <span class = "item-rating"> 4.5</span>
                    <i class = "fas fa-star ms-1"></i>
                </span>

                <span class = "mx-2">|</span>
                <span class = "mx-2">412 Ratings</span>
                <span class = "mx-2">|</span>
                <span class = "mx-2">30k Sold</span>

            </div>

            <div class="container mt-4 bgc4 p-2 price-container">

                <h3 id="item-price">₱ 1,320</h3>
            </div>



        </div>


    </div>




</div>