.fc1{
    color: #E7BB2C
}

.fc2{
    color: #F4F2DD
}

.fc3{
    color: #C5E1E4
}

.fc4{
    color: #B7C098
}

.fc5{
    color: #97B9B5
}


.bgc1{
    background-color: #E7BB2C
}

.bgc2{
    background-color: #F4F2DD
}

.bgc3{
    background-color: #C5E1E4
}

.bgc4{
    background-color: #B7C098
}

.bgc5{
    background-color: #97B9B5
}

.debug{
    background-color: purple;
}


