:root{
    --c1: #DD8E58;
    --c2: #708A81;
    --c3: #E5D1B8;
    --c4: #C2956E;
    --c5: #2B2129;
    --black: black;
    --white: white;
}

.fc1{
    color: var(--c1);
}

.fc2{
    color: var(--c2);
}

.fc3{
    color: var(--c3);
}

.fc4{
    color: var(--c4);
}

.fc5{
    color: var(--c5);
}

.bgc1{
    background-color: var(--c1);
}

.bgc2{
    background-color: var(--c2);
}

.bgc3{
    background-color: var(--c3);
}

.bgc4{
    background-color: var(--c4);
}

.bgc5{
    background-color: var(--c5);
}

.cblack{
    color: var(--black);
}

.cwhite{
    color: var(--white);
}



/*  Debug classes, will be removed upon deployment  */
.debug1{
    background-color: purple;
}

.debug2{
    background-color: black;
}

.debug3{
    background-color: teal;
}


