:root{
    --black: black;
    --c4: #C2956E;
    --c3: #E5D1B8;
    --white: white;
}

#error-text{
    color: var(--c4);
}

#signup:hover{
    text-decoration: none;
    color: var(--white);

}
.footer{
    height: 100px;
}

.form-text{
    color: var(--black);
}

.logo{
    zoom: 11%;
    margin-bottom: 20px;
}

.nav-anchor{
    color: var(--black);
}

.modal-content{
    width: 350px;
    border-radius: 20px;
    height: 500px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#signup{
    width: 150px;
    border-radius: 40px;
}

#notifs-dropdown{
    width: 330px;
    height: 620px;
    border-radius:10px;
    box-shadow: 1px 7px 11px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 7px 11px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 7px 11px -4px rgba(0,0,0,0.75);
}

#notifs-list{
    height:550px;
    overflow-y: auto ;
}


#notifs-list::-webkit-scrollbar{
    width: 4px;
    height: 4px;
}

#notifs-list::-webkit-scrollbar-thumb{
    background: #000000;
    border-radius: 30px;
}

#notifs-list::-webkit-scrollbar-thumb:hover{
    background: #000000;
}

#notifs-list::-webkit-scrollbar-track{
    background: #E5D1B8;
    border-radius: 0px;
    box-shadow: inset 0px 0px 0px 0px #F0F0F0;
}



#one-notif:hover{
    text-decoration: none;
    background-color: var(--c4);
    transition: 0.4s;
    border-radius: 10px;
    
}

#one-notif:not(:hover){
    transition: 0.4s;
    border-radius: 10px;
}

#notif-msg{
    font-size: 10pt;
}

.hidden {
	display: none;
}

#notifs-btn{
    position:relative;
    display:flex;   
    align-items:center;
    justify-content:center;
}

.notif-btn-badge{
    position: absolute;
    top: 0px;
    right: -1px;
    background-color: var(--c3);
    border-radius: 100px ;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 17px;
    height: 17px;
    font-size: 9pt;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: var(--black);
}

a:hover{
    text-decoration: underline;
    color:var(--black);
}

h1{
    font-size: 75px;
}

nav{
    height: 100px;
    width:100%;

}

body{
    background-image:url("/img/bg/leaves.png");
}