:root{
    --black: black;
}

.logo{
    height: 75px;
    width: 55px;
}

.nav-anchor{
    color: var(--black);
}

.modal-body{
    width: 300px;
    height: 500px;
}

h1{
    font-size: 75px;
}

nav{
    height: 100px;
    width:100%;
}