:root{
    --black: black;
    --c4: #C2956E;
    --white: white;
}

#error-text{
    color: var(--c4);
}

#signup:hover{
    text-decoration: none;
    color: var(--white);

}
.footer{
    height: 100px;
}

.form-text{
    color: var(--black);
}

.logo{
    zoom: 11%;
    margin-bottom: 20px;
}

.nav-anchor{
    color: var(--black);
}

.modal-content{
    width: 350px;
    border-radius: 20px;
    height: 500px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#signup{
    width: 150px;
    border-radius: 40px;
}

.hidden {
	display: none;
}

a{
    text-decoration: none;
    color: var(--black);
}

a:hover{
    text-decoration: underline;
    color:var(--black);
}

span{
    font-size: 13px;
}

h1{
    font-size: 75px;
}

nav{
    height: 100px;
    width:100%;

}

body{
    background-image:url("/img/bg/leaves.png");
}